!!!
%html
  %head
    %title DailyWiki - New random wikipedia articles every day
    %link{ rel: 'stylesheet', media: 'screen', href: '/styles.css' }
    %link{ rel: 'stylesheet', media: 'screen', href: '/themes.css' }
    %link{ rel: "alternate", type: "application/rss+xml", title: "DailyWiki RSS", href: "/rss" }
  %body
    .container
      %header
        %h1 
          DailyWiki
          %small
            %a{ href: '/feed', class: 'feed_link'} rss
        %span.controls
          %span.theme-select.theme-default
          %span.theme-select.theme-inverse
      %main
        - @articles.each_with_index do |article, index|
          %a{ href: article.fullurl, title: truncate(article.summary, 667) }
            %span.article-index= index+1
            %span.article-title=article.title
            »
            = truncate(article.summary, 300)
    :javascript
      var body = document.getElementsByTagName("body")[0];
      body.className = localStorage.theme;

      var inverseThemeBtn = document.querySelectorAll(".theme-select.theme-inverse")[0];
      inverseThemeBtn.addEventListener("click", function (e){ body.className = 'theme-inverse'; localStorage.theme = 'theme-inverse'}, false);

      var defaultThemeBtn = document.querySelectorAll(".theme-select.theme-default")[0];
      defaultThemeBtn.addEventListener("click", function (e){ body.className = ''; localStorage.theme = ''}, false);
